<%= @category.name.capitalize %><br><br>

<% @category.events.each do |e| %>
  <% if current_user.events.include?(e) %>
    <%= link_to e.name, category_event_path(@category.id, e.id) %><br>
  <% end %>
<% end %><br>

<%= link_to "Create an event for #{@category.name}", new_category_event_path(@category) %>


<p>
  <%= link_to "Load Events", category_events_path(@category), :class => "load_events" %>
</p>

